<div class="row">
  
    <div class="col-4 ml-1">
      <div class="bg-success card" >
        <div class="card-body">
          <div class="row">
            <div class="col-12"><div class="fs-4 fw-semibold text-white">{{categoryList.length}}</div></div>
          </div>
          <div class="row">
            <div class="col-12"><div class="fs-4 fw-semibold text-white">Total Categories</div></div>
          </div>
          <hr style="border-top: 4px solid #fff;opacity: 1;">
          <div class="row">
            <a  class="text-white pointer" (click)="goToScreen('Category')">click here to see all categories</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 ml-1">
      <div class="bg-info card" >
        <div class="card-body">
          <div class="row">
            <div class="col-12"><div class="fs-4 fw-semibold text-white">{{productList.length}}</div></div>
          </div>
          <div class="row">
            <div class="col-12"><div class="fs-4 fw-semibold text-white">Total Products</div></div>
          </div>
          <hr style="border-top: 4px solid #fff;opacity: 1;">
          <div class="row">
            <a  class="text-white pointer" (click)="goToScreen('Product')">click here to see all products</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4 ml-1">
      <div class="bg-warning card" >
        <div class="card-body">
          <div class="row">
            <div class="col-12"><div class="fs-4 fw-semibold text-white">{{billList.length}}</div></div>
          </div>
          <div class="row">
            <div class="col-12"><div class="fs-4 fw-semibold text-white">Total Bills</div></div>
          </div>
          <hr style="border-top: 4px solid #fff;opacity: 1;">
          <div class="row">
            <a  class="text-white pointer" (click)="goToScreen('Bill')">click here to see all bills</a>
          </div>
        </div>
      </div>
    </div>
  
</div>
<br>
<br>




 